*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.adminlogin{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#5CA7BE, #8444D4);
    margin-left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.a{
    color: #3B8FFF;
}
.date{
    width: 550px;
    height: 58px;
    border: 1px solid #000000;
    border-radius: 10px;
    color: #969494;
    font-size: 16px;
    padding-left: 19px;

}
.btn{
    width: 550px;
    height: 58px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 24px;
    color: #ffffff;
    background: #4796FF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22.5px;
}
.arr{
    display: flex;
    width: 28px;
    height: 28px;

}