.post-card{
    max-width: 400px;
    margin-top: 20px;

}

.post-img{
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.incons-post{
    display: flex;
    gap: 12px;
}

.cnDetileCardLikeIcon{
    font-size: 21px;
    margin-left: 1px;
    margin-top: 3px;
    color: #ffff;
    margin-bottom: 5px;
    cursor: pointer;
}

.fa-regular.fa-bookmark{
    font-size: 21px;
    margin-top: 3px;
    margin-left: 300px;
    color: #ffff;
    cursor: pointer;
}

.cnDetileCarCommnet{
    font-size: 21px;
    margin-top: 3px;
    color: #ffff;
}

.likes-post{
    color: #b6b6b6;
    margin-left: 1px;
}

  .post-action-link {
    text-decoration: none;
    color: aliceblue;
  }
  .liked {
    color: red;
  }

.myImage{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    border-radius: 5px;
}
.comment-p3{
    color: #fefefe;
    position: absolute;
    top: 91.5%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    max-width: 380px;

}
.comment-count-w1{
    color: #fefefe;
    position: absolute;
    top: 85%;
    left: 40.5%;
    transform: translate(-50%, -50%);
}
.fa-regular.fa-comment{
    position: absolute;
    top: 80.2%;
    left: 39%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fefefe;
}
